.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
sandbox/build/classes/java/main/MyFirstProgramm.class
sandbox/build/distributions/sandbox.tar
sandbox/build/distributions/sandbox.zip
sandbox/build/libs/sandbox.jar
sandbox/build/scripts/sandbox
sandbox/build/scripts/sandbox.bat
sandbox/build/tmp/jar/MANIFEST.MF
.idea/workspace.xml
.idea/misc.xml
addressbook-web-tests/IEDriverServer.exe
addressbook-web-tests/chromedriver.exe
addressbook-web-tests/build/tmp/test/jar_extract_1373401266967400976_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2314952158076119002_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2652962267422757404_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2770436389726917041_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2888541504796172455_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3161241453950892934_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3204106687989862375_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3635466724768830040_tmp
addressbook-web-tests/build/tmp/test/jar_extract_431832300435111393_tmp
addressbook-web-tests/build/tmp/test/jar_extract_476361321340905410_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5264819099571826537_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7469876384384392328_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8701955671527184953_tmp
addressbook-web-tests/build/tmp/test/jar_extract_91117528135276505_tmp
addressbook-web-tests/build/tmp/test/jar_extract_988726158452764518_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_7504288282635477590_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_8519255751060402883_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_8798874636176523256_tmp
